/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* VARIABLES AND DARK/LIGHT MODE */
:root {
  --title: #2b2c34;
  --subtitle: #2a2a2a;
  --text-color: #2b2c34;
  --button-text-color: #fffffe;
  --button-border-color: #fffffe;
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: #077380;
  --surface-color-hover: #f45d48;
  --highlight-color: rgba(255, 255, 255, 0.2);
}

/* GENERAL */
html {
  height: 100vh;
}

body {
  /* background: linear-gradient(61deg, #77a0be 10%, #ffb362 48%, #0c6f69 100%); */
  background: linear-gradient(-45deg, #519ec7, #ffb362, #0c6f69);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body * {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 620px;
  margin: 56px auto 0;
  padding: 0 24px;
}

/* PROFILE */
#profile {
  text-align: center;
  padding: 24px 24px 12px;
}

#profile img {
  width: 150px;
}

#profile h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: var(--title);
  margin: 12px 0;
}

#profile p {
  font-size: 16px;
  font-weight: bold;
  margin-top: 16px;
  color: var(--subtitle);
}

#profile p + p {
  margin-top: 16px;
  font-weight: normal;
  color: var(--text-color);
}

/* LISTA/LINKS */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  color: var(--button-text-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  --webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--button-border-color);
}

/* ICONS */
#social-links {
  display: flex;
  justify-content: center;
  padding: 0 0 16px;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

/* FOOTER */
footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}
